@layer algolia, base, components;

@import 'https://cdn.jsdelivr.net/npm/instantsearch.css@8.2.1/themes/satellite-min.css'
	layer(algolia);

@layer base {
	:root {
		--color-gray-000: oklch(98.53% 0.007 257.29);
		--color-gray-900: oklch(17.06% 0.074 257.29);

		--bg: light-dark(var(--color-gray-000), var(--color-gray-900));
		--fg: light-dark(var(--color-gray-900), var(--color-gray-000));

		font-family: system-ui, -apple-system, sans-serif;
		line-height: 1.45;

		color-scheme: light dark;
		color: var(--fg);
		background-color: var(--bg);
	}

	:is(h1, h2, h3, h4, h5, h6) {
		line-height: 1.1;
	}

	main {
		inline-size: 800px;
		margin-block: 3rem;
		margin-inline: auto;
	}

	button {
		background: var(--fg);
		border: 0;
		border-radius: 0.25rem;
		color: var(--bg);
		font-size: 1rem;
		font-weight: bold;
		padding: 0.5rem 1.25rem;
	}
}

@layer components {
	.search {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
	}

	.ais-SearchBox {
		margin-block-end: 2rem;
	}

	.ais-Pagination {
		margin-block-start: 2rem;
		margin-inline: auto;
		inline-size: max-content;
	}

	.ais-RefinementList {
		inline-size: 165px;
	}

	.ais-ClearRefinements-button {
		background: var(--bg);
		border: 1px solid color-mix(in oklch, var(--fg), transparent 80%);
		color: var(--fg);
		font-size: 0.75rem;
		font-weight: normal;
		height: auto;
		line-height: 1.1;
		margin-block-start: 0.5rem;
		padding: 0.25rem;

		&[disabled] {
			display: none;
		}
	}

	.movie-preview {
		display: flex;
		gap: 2rem;
		inline-size: 550px;

		& img {
			object-fit: cover;
		}

		& h2 {
			font-size: 1.25rem;
		}

		& .genres {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem 1rem;
			list-style: none;
			padding: 0;

			& li {
				background: color-mix(in oklch, var(--fg), transparent 98%);
				border: 1px solid color-mix(in oklch, var(--fg), transparent 80%);
				border-radius: 1rem;
				font-size: 0.75rem;
				padding: 0 0.5rem;
			}
		}
	}

	.movie-details {
		block-size: 90cqb;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		inset: 5cqb 5cqi;
		inline-size: 800px;
		justify-content: start;
		margin-inline: auto;

		& .close {
			display: inline-block;
			width: max-content;
		}

		& .movie {
			display: flex;
			gap: 3rem;
		}
	}

	.details {
		& button {
			margin-block-start: 1rem;
		}
	}

	.ais-LookingSimilar-list {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
	}

	.ais-LookingSimilar-item {
		padding: 0;
	}

	.tiny-preview {
		& button {
			background: none;
			border: 0;
			display: block;
			inline-size: 100px;
			margin: 0;
			padding: 0;
		}

		& img {
			block-size: auto;
			cursor: pointer;
			display: block;
			inline-size: 100%;
		}
	}
}
